services:
  - type: web
    name: infieles-api
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 10000
